table {
    border : 0px solid
}
            
table.center {
    margin-left:auto; 
    margin-right:auto
}
            
div {
    margin: 50px;
}
            
#currentColorSample {
    width : 50px;
    height : 50px;
    margin-left:auto;
    margin-right:auto
}
            
#currentColorValue {
    font-size: 50px;
    text-align: center
}
            
#debug {
    width: 50px;
    height: 50px
}
            
.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
    